.eventForm {
  padding: "20px";
  display: "inline-block";
  text-align: "center";
  width: 50%;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgb(175, 27, 155) 0%,
    rgb(113, 111, 139) 100%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*.Collapsible__trigger {
    
}*/

.description_text {
  width: 60%; 
  height: 50%;
  resize: none;
}